<%- include("layouts/signinhead") %>
    <div class="container">
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close-modal">&times;</span>
                <label for="friend-input">Username:</label>
                <input type="text" id="friend-input"><br>
                <button class="friend-add-button">Add</button>
            </div>

        </div>
        <div class="sidebar-main">
            <div class="sidebar-options">
                <div id="greeting">
                    Hello <%= username %>
                </div>
                <div class="three-dots">
                    <img src="images/three-dots.png" alt="">
                </div>
            </div>
            <div class="dropdown dropdown-block">
                <div class="dropdown-option">
                    Add Friend
                </div>
                <a href="/logout" class="dropdown-option">Logout</a>
            </div>
            <div class="sidebar-users" special>
                <% friends.forEach(element=> { %>
                    <div class="user-card" id="<%= element %>">
                        <img src="images/user.png" alt="user profile pic" height="45px">
                        <div class="username-text">
                            <%= element %>
                        </div>
                        <div class="new-msg-icon">
                            <img src="images/noti.png" alt="" height="15px">
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>

        <div class="chat-window">
            <div class="chat-loading"></div>
            <div class="name-bar">
            </div>
            <div class="chat-box">
            </div>
            <div class="input-bar">
                <textarea class="input-box" rows="1"></textarea>
                <div class="send-img">
                    <img src="images/send.png" alt="" height="40px">
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.socket.io/4.5.3/socket.io.min.js"
        integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi"
        crossorigin="anonymous"></script>
    <script src="scripts/chat_script.js"></script>
    <%- include("layouts/signinfoot") %>